name: Answer King build and test pipeline
on:
  push:
    branches:
      - main
      - master
      - develop

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'corretto'
          cache: 'maven'

      - name: Build with Maven
        run: mvn install -DskipTests

      - name: Run tests with Maven
        run: mvn test

      - name: Run code coverage report
        run: mvn jacoco:report

      - name: Run code coverage check
        run: mvn clean verify

      - name: Publish test coverage results
        uses: PavanMudigonda/jacoco-reporter@v4.5
        with:
          coverage_results_path: 'target/site/jacoco/jacoco.xml'
          coverage_report_title: 'Test coverage results'
          coverage_report_name: 'Test coverage results'
          github_token: ${{ secrets.GITHUB_TOKEN }}



